
@{
    ViewBag.Title = "Ping Trace";
}

<h2>PingTrace</h2>

<ul>
    <li>Ping: returns Pong @Html.ActionLink("Ping","Ping")</li>
    <li>Traces: returns a list of known Traces: @Html.ActionLink("Traces", "Traces")</li>
    <li>Trace: calls trace for each target: @Html.ActionLink("Trace", "Trace")</li>
</ul>