<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <ConsoleApplication1.Properties.Settings>
            <setting name="MvcExpectedIdentity" serializeAs="String">
                <value>A (Change this in app.config)</value>
            </setting>
            <setting name="MvcExpectedMachineName" serializeAs="String">
                <value>B (Change this in app.config)</value>
            </setting>
            <setting name="MvcExpectedElapsedMsMax" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MvcExpectedElapsedMsAvg" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WsExpectedIdentity" serializeAs="String">
                <value>C (Change this in app.config)</value>
            </setting>
            <setting name="WsExpectedMachineName" serializeAs="String">
                <value>D (Change this in app.config)</value>
            </setting>
            <setting name="WsExpectedElapsedMsMax" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WsExpectedElapsedMsAvg" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DbExpectedIdentity" serializeAs="String">
                <value>E (Change this in app.config)</value>
            </setting>
            <setting name="DbExpectedMachineName" serializeAs="String">
                <value>F (Change this in app.config)</value>
            </setting>
            <setting name="DbExpectedElapsedMsMax" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DbExpectedElapsedMsAvg" serializeAs="String">
                <value>100</value>
            </setting>
        </ConsoleApplication1.Properties.Settings>
    </applicationSettings>
</configuration>
